#include <windows.h>

// Application icon (resource path is relative to this .rc file).
IDI_ICON1 ICON "app.ico"

#ifdef __GNUC__
#define VERSION_COUNTRY 1200
#else
#define VERSION_COUNTRY 0
#endif

VS_VERSION_INFO VERSIONINFO
 FILEVERSION     1,0,0,0
 PRODUCTVERSION  1,0,0,0
 FILEFLAGSMASK   0x3fL
#ifdef _DEBUG
 FILEFLAGS       0x1L
#else
 FILEFLAGS       0x0L
#endif
 FILEOS          VOS_NT_WINDOWS32
 FILETYPE        VFT_APP
 FILESUBTYPE     0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName",      "DnsManager"
            VALUE "FileDescription",  "DNS Manager"
            VALUE "FileVersion",      "1.0.0"
            VALUE "InternalName",     "DnsManager"
            VALUE "LegalCopyright",   "Copyright (c) 2026 DnsManager Contributors"
            VALUE "OriginalFilename", "DnsManager.exe"
            VALUE "ProductName",      "DNS Manager"
            VALUE "ProductVersion",   "1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04b0
    END
END